@page "/user/add"

<h3>Add User</h3>

<EditForm Model="user" OnValidSubmit="Create">
    <DataAnnotationsValidator />

    <div class="container-fluid">
        <div class="row mb-1">
            <h6>Title and full name</h6>
        </div>
        <div class="row mb-3">
            <div class="input-group">
                <!-- in case of no pick, instead of showing "Title" it will show (blank)... more on the code section -->
                <div class="input-group">
                    <select class="custom-select col-2" id="inlineFormCustomSelect" @bind="user.Title">
                        <option selected>Title</option>
                        <option value="Master">Master</option>
                        <option value="Mr">Mr</option>
                        <option value="Miss">Miss</option>
                        <option value="Ms">Ms</option>
                        <option value="Mrs">Mrs</option>
                        <option value="Mx">Mx</option>
                    </select>


                    <InputText class="form-control" placeholder="First name" @bind-Value="@user.FirstName" />

                    <InputText class="form-control" placeholder="Last name" @bind-Value="@user.LastName" />
                </div>
            </div>
        </div>

        <div class="row mb-1">
            <h6>Date of Birth</h6>
        </div>
        <div class="row mb-3">
            <div>
                <InputDate placeholder="Date of birth" @bind-Value="@user.DOB" />
            </div>
            <div class="text-muted d-inline">
                @GetAge()
            </div>
        </div>

        <div class="row mb-1">
            <h6>Credentials:</h6>
        </div>
        <div class="row mb-1">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Login (e-mail)</span>
                </div>
                <div>
                    <InputText class="form-control" placeholder="e-mail" @bind-Value="@user.Email" />
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                    <span class="input-group-text">Password</span>
                </div>
                <InputText class="form-control" type="password" placeholder="Minimum of 6 characters" @bind-Value="@user.Password" />
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Confirm password</span>
                </div>
                <InputText class="form-control" type="password" @bind-Value="@confirmPassword" />
            </div>
        </div>

        <div class="row mb-1">
            <h6>Terms of Service:</h6>
        </div>
        <div class="row mb-1">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" @bind-value="@confirmTOS">
                    </div>
                </div>
                <span class="input-group-text">I have read and agreed with the <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Terms of Service</a></span>
            </div>
        </div>

        <div>
            <button class="btn btn-outline-primary float-right" type="submit">Add new user</button>
        </div>

        <!-- this is the alerts for wrong inputs -->
        <div class="container">
            <ValidationMessage For="@( () => user.FirstName )" />
            <ValidationMessage For="@( () => user.LastName )" />
            <ValidationMessage For="@( () => user.DOB )" />
            <ValidationMessage For="@( () => user.Email )" />
            <ValidationMessage For="@( () => user.Password )" />
        </div>
    </div>
</EditForm>

@code {
    User user = new User();
    string confirmPassword;
    Boolean confirmTOS;

    // title fixer in case of no title chosen
    private void FixTitle()
    {
        if (user.Title == "Title") user.Title = "";
    }

    private void Create()
    {
        if (user.Password == confirmPassword && confirmTOS == true)
        {
            FixTitle();
            Console.WriteLine("User added successfully");
            Console.WriteLine($"{user.Title} {user.FirstName} {user.LastName}");
            Console.WriteLine(user.DOB);
            Console.WriteLine(user.Email);
            Console.WriteLine(user.Password);
        }
        else
        {

        }
    }

    private string GetAge()
    {
        int age = 0;
        string output;

        age = DateTime.Now.Year - user.DOB.Year;
        if (DateTime.Now.DayOfYear < user.DOB.DayOfYear)
            age = age - 1;

        // somehow it won't work if you give this $"string" directly on the return...
        if (age > 100)
        {
            output = $"Wow, {age} years old... incredible!";
        }
        else
        {
            output = $"You are {age} years old";
        }

        return output;
    }
}
