@page "/user/add"

<h3>Add User</h3>

<EditForm Model="user" OnValidSubmit="Create">
    <DataAnnotationsValidator />

    <div class="container-fluid">
        <div class="row mb-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" @bind="user.Title">
                        <option selected>Title</option>
                        <option value="master">Master</option>
                        <option value="mr">Mr</option>
                        <option value="miss">Miss</option>
                        <option value="ms">Ms</option>
                        <option value="mrs">Mrs</option>
                        <option value="mx">Mx</option>
                    </select>
                </div>

                <InputText class="form-control" placeholder="First name" @bind-Value="@user.FirstName" />
                <ValidationMessage For="@( () => user.FirstName )" />

                <InputText class="form-control" placeholder="Last name" @bind-Value="@user.LastName" />
                <ValidationMessage For="@( () => user.LastName )" />
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-6">
                <InputDate placeholder="Date of birth" @bind-Value="@user.DOB" />
                <ValidationMessage For="@( () => user.DOB )" />
            </div>

            <div class="col-6">
                <InputText class="form-control" placeholder="e-mail" @bind-Value="@user.Email" />
            </div>
        </div>

        <div class="row mb-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Password</span>
                </div>
                <InputText class="form-control" placeholder="Minimum of 6 characters" @bind-Value="@user.Password" />
                <ValidationMessage For="@( () => user.Password )" />

                <div class="input-group-prepend">
                    <span class="input-group-text">Confirm password</span>
                </div>
                <InputText class="form-control" @bind-Value="@user.Password" />
            </div>
        </div>
    </div>

    <div>
        <button class="btn btn-outline-primary" type="submit">Add new user</button>
    </div>
</EditForm>

@code {
    User user = new User();

    private void Create()
    {
        Console.WriteLine("User added successfully");
        Console.WriteLine($"{user.Title} {user.FirstName} {user.LastName}");
        Console.WriteLine(user.DOB);
        Console.WriteLine(user.Email);
        Console.WriteLine(user.Password);
    }
}
